[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "text2sdgData"]
	path = text2sdgData
	url = https://github.com/psychobas/text2sdgdata
